@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Italianno&family=Roboto&display=swap');
#credits{
  margin: 5% auto;
  font-size: 22px;
}
.signature{
  font-size: 30px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}
