<div id="credits" class="container w-50">
  <h2 class="text-red text-center mb-3">Credits</h2>
  <p>Hello traveler and welcome to <span class="text-red">PG&Dargons</span>!</p>
  <p>
    This site was created directly by myself, <span class="text-red">Emilio Plances</span>, who as a Dungeons & Dragons enthusiast wanted to create a system that supports both experts and
    newcomers in character creation without having to sift through 315 pages of manual (if we consider just the player's manual).
  </p>
  <p>
    Besides this reason, the site was born as the final product of a learning journey with EPICODE, which provided me with the necessary tools to create all this
    and for this I thank the entire team (yes, I know I still have a lot to learn in terms of graphic design ^^').
  </p>
  <p>
    But this site is still not complete and I am still not satisfied! Being a D&D player, i want the site to be comprehensive in terms of character creation,
    so i will continue to update it by adding more data and equipment.
  </p>
  <div id="on-right" class="text-end">
    <p>I hope that despite everything,<br> you find the site enjoyable!</p>
    <p class="signature text-red">Emilio Plances</p>
  </div>
</div>

